<!--Сообщаем браузеру как стоит обрабатывать эту страницу-->
<!DOCTYPE html>
{% load static %}
<!--Оболочка документа, указываем язык содержимого-->
<html>
    <head>
        <title>НАЗВ КОМПАНИИ</title>
        <meta http-equiv="Content type" content="text/html;charset=UTF-8"/>
        <link rel="stylesheet" href="{% static 'ToDo_app/css/main.css'%}">
    </head>
    <body>
        <div class="images">
            <img src="https://duomly.nyc3.digitaloceanspaces.com/articles/coding/alps-lake.jpg" />
        </div>
        <a href="https://example.com" target="_blank">Контактные данные</a>
        <script>
            document.write('<h1 class="centered">Название компаниии</h1>');
        </script>
    </body>
</html>