{% extends 'ToDo_app/base.html'%}

{% block title %} Главная страничка {% endblock %}

{% block content %}
    <header>
        <h1>
            Добро пожаловать на ToDo сайт!
        </h1>
    </header>
    <div class="content">
        <h2> На этом сайте Вы можете записывать заметки, чтобы точно ничего не забыть! </h2>
    </div>
    <div class="add">
        <a href="{%url 'add'%}"> Добавить напоминание </a>
    </div>
    <div class="mynote">
        <a href="{% url 'all' %}"> Мои заметки </a>
    </div>
    <footer>
        <h3> MyNote ® <br> Все права защищены </h3>
    </footer>
{% endblock %}